
@{
    ViewBag.Title = "AddServices";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
  
}

<h2>Yeni Hizmet Ekleme Sayfası</h2>

<form method="post">

    <label> Hizmet Başlığı</label>
    @*@Html.TextBoxFor<>*@

</form>