
<section class="w3l-contactblock" id="contact">
    <div class="midd-w3 py-5">
        <div class="container py-lg-4 py-md-3">
            <div class="contact-heading text-center">
                <span class="text">Benimle irtibata geçin </span>
                <h3 class="title-big">Birlikte çalışmaya <span>hazır mısınız ?</span></h3>
                <p class="mt-4">Bir Proje Başlatalım! Beni işe al.</p>
</div>
            <div class="row mt-md-5 mt-4 pt-lg-3">
                <div class="col-lg-5">
                    <p>
                        Her türlü iletişime açığım! Herhangi bir uygun şekilde benimle temas kurmaktan çekinmeyin! <br />
                        Her zaman yeni projeler ve fırsatlar hakkında bilgi almakla ilgilenirim.
                    </p>
                    <ul class="address mt-md-5 mt-4">
                        <li class="mb-3">
                            <p><span class="fa fa-phone"></span> <a href="tel:+90(555)-555-55-55">+90(555)-555-55-55 </a></p>
                        </li>
                        <li class="mb-4">
                            <p><span class="fa fa-envelope-open"></span> <a href="mailto:tugbakaracak98@gmail.com">tugbakaracak98@gmail.com</a></p>
                        </li>
                        <li class="">
                            <p><span class="fa fa-map-marker"></span> İstanbul. Türkiye</p>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-7 mt-lg-0 mt-md-5 mt-4">
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="İsim"
                                   required="">
                            <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Email"
                                   required="">
                        </div>
                        <div class="twice">
                            <input type="text" class="form-control" name="w3lSubject" id="w3lSubject"
                                   placeholder="Konu" required="">
                        </div>
                        <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Mesaj"
                                  required=""></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-secondary btn-style mt-4">İleti</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>